In [206]:
import os
import pandas as pd
import numpy as np
import math

In [207]:
def colunm_change(str_):
    if 'YR' in str_:
        return str_[2:]
    else:
        return str_

def table_name(file_name):
    aux = file_name.split("_")[-1]
    str_ = aux.split('.')[:-1]
    return "_".join(str_)

In [208]:
files = os.listdir('data')

out_df = pd.DataFrame()
for file in files:
    df_aux = pd.read_csv('data/'+file)
    df_aux.columns = [colunm_change(c) for c in df_aux.columns]

    out = pd.melt(df_aux, id_vars=['economy',], value_vars=None,
                var_name='Year', value_name=table_name(file))
    

    if(len(out_df) == 0):
        out_df = out
    else:
        out_df = out_df.merge(out)

out_df.loc[:, 'Year'] = out_df.loc[:, 'Year'].astype(int)

In [209]:
idh_df = pd.read_csv('human-development-index.csv')
idh_df.rename(columns={'Code':'economy', 'Human Development Index' : 'HDI'}, inplace=True)

In [210]:
merge_df = idh_df.merge(out_df)
merge_df

,Entity,economy,Year,HDI,SE_ADT_1524_LT_FM_ZS,SE_ENR_PRIM_FM_ZS,SE_ENR_PRSC_FM_ZS,SE_ENR_SECO_FM_ZS,SE_ENR_TERT_FM_ZS,SG_GEN_PARL_ZS,...,SL_TLF_ACTI_ZS,SL_TLF_CACT_FE_ZS,SL_TLF_CACT_MA_ZS,SL_UEM_TOTL_FE_ZS,SL_UEM_TOTL_MA_ZS,SM_POP_REFG,SM_POP_REFG_OR,SP_ADO_TFRT,SP_DYN_LE00_FE_IN,SP_DYN_LE00_MA_IN
0,Afghanistan,AFG,1990,0.284,NaN,0.548500,NaN,NaN,0.442570,NaN,...,NaN,NaN,NaN,NaN,NaN,50.0,6339095.0,142.960,48.397,43.709
1,Afghanistan,AFG,1991,0.292,NaN,0.547880,0.53706,0.51169,NaN,NaN,...,48.039,15.635,79.457,10.433,7.435,38.0,6306301.0,147.525,49.144,44.353
2,Afghanistan,AFG,1992,0.299,NaN,NaN,NaN,NaN,NaN,NaN,...,48.031,15.698,79.402,10.427,7.430,60025.0,4552153.0,147.521,50.320,45.070
3,Afghanistan,AFG,1993,0.307,NaN,0.353070,0.36177,0.38118,NaN,NaN,...,48.000,15.715,79.298,10.432,7.435,32131.0,3374575.0,147.896,52.739,50.216
4,Afghanistan,AFG,1994,0.300,NaN,0.505800,0.43200,0.28143,NaN,NaN,...,47.957,15.726,79.154,10.432,7.435,19134.0,2731166.0,155.669,53.544,49.531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5803,Zimbabwe,ZWE,2018,0.564,NaN,0.996640,NaN,NaN,0.921843,31.481481,...,67.052,60.683,72.173,6.555,6.984,7795.0,15618.0,98.507,63.594,58.968
5804,Zimbabwe,ZWE,2019,0.560,1.117952,0.999170,NaN,NaN,0.960870,31.851852,...,66.938,60.730,71.927,6.990,7.760,8956.0,10045.0,97.354,63.661,58.644
5805,Zimbabwe,ZWE,2020,0.554,NaN,1.005110,NaN,NaN,0.961944,31.851852,...,66.259,59.848,71.431,8.494,8.809,9261.0,8575.0,96.180,63.862,58.129
5806,Zimbabwe,ZWE,2021,0.549,NaN,1.005374,NaN,NaN,NaN,31.851852,...,66.562,60.147,71.753,9.853,9.223,9483.0,8115.0,94.312,62.045,56.232
5807,Zimbabwe,ZWE,2022,0.550,1.083950,NaN,NaN,NaN,NaN,30.566038,...,66.890,60.072,72.609,9.670,8.842,10475.0,7008.0,NaN,NaN,NaN

In [211]:
# def get_percent_gross(list_):
#     for i in range(len(list_)-1, 1, -1):

#         if not math.isnan(float(list_[i])) and not math.isnan(float(list_[i-1])): #os valores não são nan
#             try:
#                 list_[i] = (list_[i]/list_[i-1] - 1) #porcentagem de crescimento
#             except:
#                 if list_[i] > 0:
#                     list_[i] = 1 #o ultimo valor foi 0 então ele deve ser 100% de crescimento
#                 else:
#                     list_[i] = 0
    
#     for i in range(len(list_)):
#         if not math.isnan(list_[i]): #tornar o primeiro valor em 0
#             list_[i] = 0
#             break
            
#     return list_

# def get_percent_dif(list_):
#     for i in range(len(list_)-1, 1, -1):
#         if not math.isnan(float(list_[i])) and not math.isnan(float(list_[i-1])): #os valores não são nan
#             try:
#                 list_[i] = (list_[i] - list_[i-1])/100 #diferenca entre porcentagens
#             except:
#                 if list_[i] > 0:
#                     list_[i] = 1 #o ultimo valor foi 0 então ele deve ser 100% de crescimento
#                 else:
#                     list_[i] = 0
    
#     for i in range(len(list_)):
#         if not math.isnan(list_[i]): #tornar o primeiro valor em 0
#             list_[i] = 0
#             break
    
#     return list_

# def get_updown(list_):
#     for i in range(len(list_)-1, 0, -1):
#         list_[i] = np.sign(list_[i] - list_[i-1]) #verifica se ouve aumento ou queda no uso de energias renovaveis
    
#     list_ = list_[1:] #remove o primeiro ponto
#     list_.append(np.nan) #o ultimo elemento é vazio
    
#     return list_ #retorna a previsão a partir dos dados

In [212]:
# economias = out_df['economy'].unique()

# for e in economias:
#     lista_aux = out_df.loc[out_df['economy'] == e, 'EG_FEC_RNEW_ZS']
#     lista_aux = list(lista_aux)
#     lista_aux = get_updown(lista_aux)
#     lista_aux = lista_aux
#     # print(len(lista_aux))
#     out_df.loc[out_df['economy'] == e, 'updown'] = lista_aux

# # for e in economias:
# #     for i in tables_dif:
# #         lista_aux = out_df.loc[out_df['economy'] == e, i] #pega a coluna
# #         lista_aux = list(lista_aux)
# #         lista_aux = get_percent_dif(lista_aux)
# #         lista_aux = lista_aux
# #         # print(len(lista_aux))
# #         out_df.loc[out_df['economy'] == e, i] = lista_aux

# # out_df.loc[out_df['economy'] == 'BRA']

In [213]:
merge_df.loc[:, 'desenv'] = merge_df.loc[:, 'HDI'].apply(lambda x: 0 if x < 0.5 else 1) #transforma em 0 - subdesenvolvido e 1 - desenvolvido
merge_df.dropna(subset='HDI', inplace=True) #remove as linhas nulas a partir de HDI nossa label
merge_df.reset_index(inplace=True, drop=True)

merge_df.isna().sum()

Entity                       0
economy                      0
Year                         0
HDI                          0
SE_ADT_1524_LT_FM_ZS      4825
SE_ENR_PRIM_FM_ZS         1312
SE_ENR_PRSC_FM_ZS         2230
SE_ENR_SECO_FM_ZS         2150
SE_ENR_TERT_FM_ZS         2418
SG_GEN_PARL_ZS            1309
SH_HIV_1524_FE_ZS         1758
SH_HIV_1524_MA_ZS         1758
SL_EMP_VULN_FE_ZS          453
SL_EMP_VULN_MA_ZS          453
SL_TLF_0714_FE_ZS         5530
SL_TLF_0714_MA_ZS         5530
SL_TLF_0714_SW_FE_ZS      5629
SL_TLF_0714_SW_MA_ZS      5629
SL_TLF_0714_SW_ZS         5530
SL_TLF_0714_WK_FE_ZS      5629
SL_TLF_0714_WK_MA_ZS      5629
SL_TLF_0714_WK_ZS         5529
SL_TLF_0714_ZS            5530
SL_TLF_ACTI_1524_FE_ZS     453
SL_TLF_ACTI_1524_MA_ZS     453
SL_TLF_ACTI_1524_ZS        453
SL_TLF_ACTI_FE_ZS          453
SL_TLF_ACTI_MA_ZS          453
SL_TLF_ACTI_ZS             453
SL_TLF_CACT_FE_ZS          453
SL_TLF_CACT_MA_ZS          453
SL_UEM_TOTL_FE_ZS          453
SL_UEM_TOTL_MA_ZS          453
SM_POP_REFG               1089
SM_POP_REFG_OR             637
SP_ADO_TFRT                193
SP_DYN_LE00_FE_IN          267
SP_DYN_LE00_MA_IN          267
desenv                       0
dtype: int64

In [242]:
# remover colunas com muitos dados faltantes
nans = pd.Series(merge_df.isna().sum())

for i in nans.index:
    if nans[i] > 500:
        merge_df.drop(columns = [i], inplace = True)

merge_df.isna().sum()

Entity                      0
economy                     0
Year                        0
HDI                         0
SL_EMP_VULN_FE_ZS         453
SL_EMP_VULN_MA_ZS         453
SL_TLF_ACTI_1524_FE_ZS    453
SL_TLF_ACTI_1524_MA_ZS    453
SL_TLF_ACTI_1524_ZS       453
SL_TLF_ACTI_FE_ZS         453
SL_TLF_ACTI_MA_ZS         453
SL_TLF_ACTI_ZS            453
SL_TLF_CACT_FE_ZS         453
SL_TLF_CACT_MA_ZS         453
SL_UEM_TOTL_FE_ZS         453
SL_UEM_TOTL_MA_ZS         453
SP_ADO_TFRT               193
SP_DYN_LE00_FE_IN         267
SP_DYN_LE00_MA_IN         267
desenv                      0
dtype: int64

In [244]:
# out_df.dropna(subset='updown', inplace=True) #remove as linhas nulas de updwon(valor mais recente) nossa label
merge_df.dropna(inplace=True)
merge_df.reset_index(inplace=True, drop=True)

merge_df.drop(columns = ['Entity', 'economy', 'Year'], inplace=True)
merge_df.to_csv('final_data_clean.csv', index=False)
merge_df

,HDI,SL_EMP_VULN_FE_ZS,SL_EMP_VULN_MA_ZS,SL_TLF_ACTI_1524_FE_ZS,SL_TLF_ACTI_1524_MA_ZS,SL_TLF_ACTI_1524_ZS,SL_TLF_ACTI_FE_ZS,SL_TLF_ACTI_MA_ZS,SL_TLF_ACTI_ZS,SL_TLF_CACT_FE_ZS,SL_TLF_CACT_MA_ZS,SL_UEM_TOTL_FE_ZS,SL_UEM_TOTL_MA_ZS,SP_ADO_TFRT,SP_DYN_LE00_FE_IN,SP_DYN_LE00_MA_IN,desenv
0,0.292,99.237026,90.889807,14.294,62.904,38.799,16.101,80.990,48.039,15.635,79.457,10.433,7.435,147.525,49.144,44.353,0
1,0.299,99.185699,90.815367,14.338,62.746,38.774,16.170,80.940,48.031,15.698,79.402,10.427,7.430,147.521,50.320,45.070,0
2,0.307,99.096507,90.839117,14.314,62.524,38.690,16.190,80.840,48.000,15.715,79.298,10.432,7.435,147.896,52.739,50.216,0
3,0.300,99.048388,90.829593,14.267,62.237,38.564,16.204,80.696,47.957,15.726,79.154,10.432,7.435,155.669,53.544,49.531,0
4,0.318,98.988570,90.814539,14.273,61.888,38.424,16.278,80.504,47.920,15.796,78.961,10.423,7.428,156.770,54.087,51.039,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5172,0.552,79.187622,62.586209,43.862,58.392,50.791,61.882,73.372,67.093,60.646,72.373,6.289,6.410,98.265,62.956,58.208,1
5173,0.564,78.003529,60.853174,43.601,57.975,50.473,61.948,73.188,67.052,60.683,72.173,6.555,6.984,98.507,63.594,58.968,1
5174,0.560,76.308652,59.509809,43.413,57.301,50.064,61.986,72.880,66.938,60.730,71.927,6.990,7.760,97.354,63.661,58.644,1
5175,0.554,73.010199,57.353007,43.825,55.713,49.529,61.150,72.373,66.259,59.848,71.431,8.494,8.809,96.180,63.862,58.129,1
5176,0.549,69.010063,54.974606,44.150,54.021,48.900,61.450,72.667,66.562,60.147,71.753,9.853,9.223,94.312,62.045,56.232,1